<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @power.name %>
</p>

<p>
  <b>Discipline:</b>
  <%= @power.discipline %>
</p>

<p>
  <b>Subdiscipline:</b>
  <%= @power.subdiscipline %>
</p>

<p>
  <b>Descriptor:</b>
  <%= @power.descriptor %>
</p>

<p>
  <b>Level:</b>
  <%= @power.level %>
</p>

<p>
  <b>Display:</b>
  <%= @power.display %>
</p>

<p>
  <b>Manifesting time:</b>
  <%= @power.manifesting_time %>
</p>

<p>
  <b>Power range:</b>
  <%= @power.power_range %>
</p>

<p>
  <b>Power target:</b>
  <%= @power.power_target %>
</p>

<p>
  <b>Area:</b>
  <%= @power.area %>
</p>

<p>
  <b>Result:</b>
  <%= @power.result %>
</p>

<p>
  <b>Duration:</b>
  <%= @power.duration %>
</p>

<p>
  <b>Saving throw:</b>
  <%= @power.saving_throw %>
</p>

<p>
  <b>Power points:</b>
  <%= @power.power_points %>
</p>

<p>
  <b>Power resistance:</b>
  <%= @power.power_resistance %>
</p>

<p>
  <b>Short description:</b>
  <%= @power.short_description %>
</p>

<p>
  <b>Xp cost:</b>
  <%= @power.xp_cost %>
</p>

<p>
  <b>Description:</b>
  <%= @power.description %>
</p>

<p>
  <b>Augment:</b>
  <%= @power.augment %>
</p>

<p>
  <b>Full text:</b>
  <%= @power.full_text %>
</p>

<p>
  <b>Reference:</b>
  <%= @power.reference %>
</p>


<%= link_to 'Edit', edit_power_path(@power) %> |
<%= link_to 'Back', powers_path %>
