<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @equipment.name %>
</p>

<p>
  <b>Family:</b>
  <%= @equipment.family %>
</p>

<p>
  <b>Category:</b>
  <%= @equipment.category %>
</p>

<p>
  <b>Subcategory:</b>
  <%= @equipment.subcategory %>
</p>

<p>
  <b>Cost:</b>
  <%= @equipment.cost %>
</p>

<p>
  <b>Dmg s:</b>
  <%= @equipment.dmg_s %>
</p>

<p>
  <b>Armor shield bonus:</b>
  <%= @equipment.armor_shield_bonus %>
</p>

<p>
  <b>Maximum dex bonus:</b>
  <%= @equipment.maximum_dex_bonus %>
</p>

<p>
  <b>Dmg m:</b>
  <%= @equipment.dmg_m %>
</p>

<p>
  <b>Weight:</b>
  <%= @equipment.weight %>
</p>

<p>
  <b>Critical:</b>
  <%= @equipment.critical %>
</p>

<p>
  <b>Armor check penalty:</b>
  <%= @equipment.armor_check_penalty %>
</p>

<p>
  <b>Arcane spell failure chance:</b>
  <%= @equipment.arcane_spell_failure_chance %>
</p>

<p>
  <b>Range increment:</b>
  <%= @equipment.range_increment %>
</p>

<p>
  <b>Speed 30:</b>
  <%= @equipment.speed_30 %>
</p>

<p>
  <b>Weapon type:</b>
  <%= @equipment.weapon_type %>
</p>

<p>
  <b>Speed 20:</b>
  <%= @equipment.speed_20 %>
</p>

<p>
  <b>Full text:</b>
  <%= @equipment.full_text %>
</p>

<p>
  <b>Reference:</b>
  <%= @equipment.reference %>
</p>


<%= link_to 'Edit', edit_equipment_path(@equipment) %> |
<%= link_to 'Back', equipment_index_path %>
