<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @domain.name %>
</p>

<p>
  <b>Granted powers:</b>
  <%= @domain.granted_powers %>
</p>

<p>
  <b>Spell 1:</b>
  <%= @domain.spell_1 %>
</p>

<p>
  <b>Spell 2:</b>
  <%= @domain.spell_2 %>
</p>

<p>
  <b>Spell 3:</b>
  <%= @domain.spell_3 %>
</p>

<p>
  <b>Spell 4:</b>
  <%= @domain.spell_4 %>
</p>

<p>
  <b>Spell 5:</b>
  <%= @domain.spell_5 %>
</p>

<p>
  <b>Spell 6:</b>
  <%= @domain.spell_6 %>
</p>

<p>
  <b>Spell 7:</b>
  <%= @domain.spell_7 %>
</p>

<p>
  <b>Spell 8:</b>
  <%= @domain.spell_8 %>
</p>

<p>
  <b>Spell 9:</b>
  <%= @domain.spell_9 %>
</p>

<p>
  <b>Full text:</b>
  <%= @domain.full_text %>
</p>

<p>
  <b>Reference:</b>
  <%= @domain.reference %>
</p>


<%= link_to 'Edit', edit_domain_path(@domain) %> |
<%= link_to 'Back', domains_path %>
