<%=  simple_form_for(@character, :html => {:class => 'form-horizontal' }) do |f| %>
  <% if @character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% @character.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	  <%= f.input :name %>
	  <%= f.association :race %>
	  <%= f.association :role_type, :label => 'Class',:as => :check_boxes %>
    <%= f.input :experience_points %>
    <%= f.input :total_hit_points %>
    <%= f.input :money %>
    <%= f.button :submit %>
<% end %>