<%=  simple_form_for(@character, :html => {:class => 'form-horizontal' }) do |f| %>
  <% if @character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% @character.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
			<%= render "abilities", :f => f %>
		<div class="bs-docs-example" style="padding-bottom: 24px;">
		  <a data-toggle="modal" href="#myModal" class="btn">Edit Abilities</a>
		</div>

	  <%= f.input :name %>
    <%= f.input :experience_points %>
    <%= f.input :total_hit_points %>
    <%= f.input :money %>
    <%= f.button :submit %>
<% end %>