<p id="notice"><%= notice %></p>

<p>
  <b>Experience points:</b>
  <%= @character.experience_points %>
</p>

<p>
  <b>Name:</b>
  <%= @character.name %>
</p>

<p>
  <b>Total hit points:</b>
  <%= @character.total_hit_points %>
</p>

<p>
  <b>Money:</b>
  <%= @character.money %>
</p>

<p>
  <b>Abilities:</b><br \>
  <% @character.ability.each do |ability| %>
	<%= ability.name %>: <%= ability.value %> Mod: <%= ability.modifier %><br \>
  <% end %>
</p>

<p>
  <b>Background:</b><br \>
	Homeland: <%= @character.background.homeland  %><br \>
 	History: <%= @character.background.history %><br \>
</p>

<p>
  <b>Aspect:</b><br \>
	<% @aspect = @character.aspect  %>
	Size:		<%= @aspect.size %><br \>
	Gender:		<%= @aspect.gender %><br \>
	Age:		<%= @aspect.age %><br \>
	Height:		<%= @aspect.height %><br \>
	Weight:		<%= @aspect.weight %><br \>
	Hair:		<%= @aspect.hair %><br \>
	Eye:		<%= @aspect.eye %><br \>
	Alignment:	<%= @aspect.alignment %><br \>
	Deity:		<%= @aspect.deity %><br \>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
