<p id="notice"><%= notice %></p>

<p>
  <b>Experience points:</b>
  <%= @character.experience_points %>
</p>

<p>
  <b>Name:</b>
  <%= @character.name %>
</p>

<p>
  <b>Total hit points:</b>
  <%= @character.total_hit_points %>
</p>

<p>
  <b>Money:</b>
  <%= @character.money %>
</p>

<p>
  <b>Abilities:</b><br \>
  <% @character.ability.each do |ability| %>
	<%= ability.name %>: <%= ability.value %> Mod: <%= ability.modifier %><br \>
  <% end %>
</p>

<p>
  <b>Background:</b><br \>
	Homeland: <%= @character.background.homeland  %><br \>
 	History: <%= @character.background.history %><br \>
</p>

<p>
  <b>Aspect:</b><br \>
	<% @aspect = @character.aspect  %>
	Size:		<%= @aspect.size %><br \>
	Gender:		<%= @aspect.gender %><br \>
	Age:		<%= @aspect.age %><br \>
	Height:		<%= @aspect.height %><br \>
	Weight:		<%= @aspect.weight %><br \>
	Hair:		<%= @aspect.hair %><br \>
	Eye:		<%= @aspect.eye %><br \>
	Alignment:	<%= @aspect.alignment %><br \>
	Deity:		<%= @aspect.deity %><br \>
</p>

<p>
  <b>Skills:</b><br \>
	<% @character.skill.each do |skill| %>
	  <% skill_type = skill.skill_type %>
	  Name:	<%= skill_type.name %> <br \>
	  Total: <%= skill.total %><br \>
	  Rank: <%= skill.rank %><br \>
	  <!% skill.effect.each do |effect| %>
	  	Misc: <!%= effect.value %><br \>
	  <!% end %>
	  Ability Type: <%= skill_type.ability_type %><br \>
	  Description: <%= skill_type.description %><br \>
	<% end %>
</p>

<p>
  <b>Feats:</b><br \>
	<% @character.feat.each do |feat| %>
	  Name:	<%= feat.name %><br \>
	  Description: <%= feat.description %><br \>
	  Prerequisites: <%= feat.prerequisites %><br \>
	<% end %>
</p>

<p>
  <b>Possessions:</b><br \>
	<% @character.possession.all do |possession| %>
	  Name:	<%= possession.name %><br \>
	<% end %>
</p>

<p>
  <b>Race:</b><br \>
	  Name:	<%= @character.race.name if @character.race %><br \>
</p>

<p>
  <b>Classes:</b><br \>
	<% @character.role.each do |role| %>
	  Name:	<%= role.role_type.name %><br \>
	<% end %>
</p>

<p>
  <b>Spell List:</b><br \>
  <% if @character.spell_list %>
		<% @character.spell_list.spell_type.all do |spell| %>
		  Name:	<%= spell.name %><br \>
		<% end %>
	<% end %>
</p>
<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
