<%- model_class = Spell -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:school) %></th>
      <th><%= model_class.human_attribute_name(:descriptor) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:cl_cleric) %></th>
      <th><%= model_class.human_attribute_name(:cl_druid) %></th>
      <th><%= model_class.human_attribute_name(:cl_paladin) %></th>
      <th><%= model_class.human_attribute_name(:cl_sorcerer) %></th>
      <th><%= model_class.human_attribute_name(:cl_ranger) %></th>
      <th><%= model_class.human_attribute_name(:cl_wizard) %></th>
      <th><%= model_class.human_attribute_name(:components) %></th>
      <th><%= model_class.human_attribute_name(:casting_time) %></th>
      <th><%= model_class.human_attribute_name(:range) %></th>
      <th><%= model_class.human_attribute_name(:duration) %></th>
      <th><%= model_class.human_attribute_name(:saving_throw) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @spells.each do |spell| %>
      <tr>
        <td><%= link_to spell.id, spell_path(spell) %></td>
        <td><%= spell.name %></td>
        <td><%= spell.school %></td>
        <td><%= spell.descriptor %></td>
        <td><%= spell.description %></td>
        <td><%= spell.cl_cleric %></td>
        <td><%= spell.cl_druid %></td>
        <td><%= spell.cl_paladin %></td>
        <td><%= spell.cl_sorcerer %></td>
        <td><%= spell.cl_ranger %></td>
        <td><%= spell.cl_wizard %></td>
        <td><%= spell.components %></td>
        <td><%= spell.casting_time %></td>
        <td><%= spell.range %></td>
        <td><%= spell.duration %></td>
        <td><%= spell.saving_throw %></td>
        <td><%=l spell.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_spell_path(spell), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      spell_path(spell),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_spell_path,
            :class => 'btn btn-primary' %>
