<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @spell.name %>
</p>

<p>
  <b>Altname:</b>
  <%= @spell.altname %>
</p>

<p>
  <b>School:</b>
  <%= @spell.school %>
</p>

<p>
  <b>Subschool:</b>
  <%= @spell.subschool %>
</p>

<p>
  <b>Descriptor:</b>
  <%= @spell.descriptor %>
</p>

<p>
  <b>Spellcraft dc:</b>
  <%= @spell.spellcraft_dc %>
</p>

<p>
  <b>Level:</b>
  <%= @spell.level %>
</p>

<p>
  <b>Components:</b>
  <%= @spell.components %>
</p>

<p>
  <b>Casting time:</b>
  <%= @spell.casting_time %>
</p>

<p>
  <b>Spell range:</b>
  <%= @spell.spell_range %>
</p>

<p>
  <b>Spell target:</b>
  <%= @spell.spell_target %>
</p>

<p>
  <b>Area:</b>
  <%= @spell.area %>
</p>

<p>
  <b>Result:</b>
  <%= @spell.result %>
</p>

<p>
  <b>Duration:</b>
  <%= @spell.duration %>
</p>

<p>
  <b>Saving throw:</b>
  <%= @spell.saving_throw %>
</p>

<p>
  <b>Spell resistance:</b>
  <%= @spell.spell_resistance %>
</p>

<p>
  <b>Short description:</b>
  <%= @spell.short_description %>
</p>

<p>
  <b>To develop:</b>
  <%= @spell.to_develop %>
</p>

<p>
  <b>Material components:</b>
  <%= @spell.material_components %>
</p>

<p>
  <b>Arcane material components:</b>
  <%= @spell.arcane_material_components %>
</p>

<p>
  <b>Focus:</b>
  <%= @spell.focus %>
</p>

<p>
  <b>Description:</b>
  <%= @spell.description %>
</p>

<p>
  <b>Xp cost:</b>
  <%= @spell.xp_cost %>
</p>

<p>
  <b>Arcane focus:</b>
  <%= @spell.arcane_focus %>
</p>

<p>
  <b>Wizard focus:</b>
  <%= @spell.wizard_focus %>
</p>

<p>
  <b>Verbal components:</b>
  <%= @spell.verbal_components %>
</p>

<p>
  <b>Sorcerer focus:</b>
  <%= @spell.sorcerer_focus %>
</p>

<p>
  <b>Bard focus:</b>
  <%= @spell.bard_focus %>
</p>

<p>
  <b>Cleric focus:</b>
  <%= @spell.cleric_focus %>
</p>

<p>
  <b>Druid focus:</b>
  <%= @spell.druid_focus %>
</p>

<p>
  <b>Full text:</b>
  <%= @spell.full_text %>
</p>

<p>
  <b>Reference:</b>
  <%= @spell.reference %>
</p>


<%= link_to 'Edit', edit_spell_path(@spell) %> |
<%= link_to 'Back', spells_path %>
