<div class="well sidebar-nav">  
    <ul class="nav nav-list">  
        <li class="nav-header">Categories</li>  
        <li class="divider"></li>
	      <li><a href="<%= reference_path(:category => "races")%>">Races</a></li>  
		    <li><a href="<%= reference_path(:category => "role_type")%>">Classes</a></li>  
		    <li><a href="<%= reference_path(:category => "skills")%>">Skills</a></li>  
		    <li><a href="<%= reference_path(:category => "feats")%>">Feats</a></li>   
        <li>
        	<a data-toggle="collapse" data-target="#possessions">Possessions</a> 
					<ul id="possessions" class="collapse">
						<li><a href="<%= reference_path(:category => "weapons")%>">Weapons</a></li>  
				    <li><a href="<%= reference_path(:category => "armor")%>">Armor</a></li>  
				    <li><a href="<%= reference_path(:category => "apparel")%>">Apparel</a></li>  
				    <li><a href="<%= reference_path(:category => "goods")%>">Goods</a></li>  
				    <li><a href="<%= reference_path(:category => "tools")%>">Tools</a></li>  
				    <li><a href="<%= reference_path(:category => "meterials")%>">Materials</a></li>
				    <li><a href="<%= reference_path(:category => "consumables")%>">Consumables</a></li>
				    <li><a href="<%= reference_path(:category => "lodgings")%>">Lodgings</a></li>
				    <li><a href="<%= reference_path(:category => "transports")%>">Transports</a></li>
				    <li><a href="<%= reference_path(:category => "services")%>">Services</a></li>
           </ul>
        </li>  
        <li>
        	<a data-toggle="collapse" data-target="#spells">Spells</a> 
					<ul id="spells" class="collapse">
				    <li><a href="<%= reference_path(:category => "_cleric")%>">Cleric</a></li>  
				    <li><a href="<%= reference_path(:category => "_druid")%>">Druid</a></li>  
				    <li><a href="<%= reference_path(:category => "_paladin")%>">Paladin</a></li>
				    <li><a href="<%= reference_path(:category => "_ranger")%>">Ranger</a></li>  
				    <li><a href="<%= reference_path(:category => "_sorcerer")%>">Sorcerer</a></li>  
				    <li><a href="<%= reference_path(:category => "_wizard")%>">Wizard</a></li>
           </ul>
        </li>  
    </ul>  
</div><!--/.well -->  
